---
export interface Props {
  contents: {
    id: string
    label: string
    rank: number
  }[]
}
---

{
  Astro.props.contents.length > 0 && (
    <section
      class={`mb-6 border border-black p-5`}
      transition:name="wiki:section:contents"
    >
      <p class="pb-4 text-3xl font-medium">Contents</p>
      <ul class="text-base">
        {Astro.props.contents.map(content => (
          <li class="py-[0.3rem] pr-4">
            <a
              class="transition-all hover:font-semibold"
              href={'#' + content.id}
            >
              > {content.label}
            </a>
          </li>
        ))}
      </ul>
    </section>
  )
}
