---
import { getEventInvolvements } from '$staffList'
import { getEventImageUrl } from '$events'
import CFImage from '$components/cfImage.astro'

export interface Props {
  username: string
}

const involvements = await getEventInvolvements(Astro.props.username)
---

{
  involvements.groups.length > 0 && (
    <section class="mt-8 border-t border-neutral-200 pt-8">
      <h2 class="mb-6 text-2xl font-medium">Event Contributions</h2>
      <div class="flex flex-col gap-6">
        {involvements.groups.map(group => (
          <div>
            <h3 class="mb-3 font-medium text-neutral-500 uppercase">
              {group.title}
            </h3>
            <ul class="flex flex-wrap gap-2">
              {group.events.map(event => (
                <li>
                  <a
                    href={`/event/${event.eventId}`}
                    title={event.event.name}
                    class="block transition-opacity hover:opacity-80"
                  >
                    <CFImage
                      src={getEventImageUrl(
                        event.eventId,
                        event.parsedFrontMatter
                      )}
                      alt={event.event.name || event.eventId}
                      width={250}
                      ratio={1}
                      class="h-32 w-32 rounded"
                    />
                  </a>
                </li>
              ))}
            </ul>
          </div>
        ))}
      </div>
    </section>
  )
}
