---
export interface Props {
  title: string
  noBottomBorder?: boolean
}

const { title } = Astro.props
---

<section
  class={`p-5 my-3 md:m-0 md:mb-3 mb-3 rounded-md bg-neutral-100`}
  transition:name={`wiki:section:${title}`}
>
  <h2 class="pb-3 text-2xl font-medium">
    {title}
  </h2>
  <slot />
</section>
