---
export interface Props {
  title: string
  noBottomBorder?: boolean
}

const { title } = Astro.props
---

<section
  class={`p-6 my-3 md:m-0 md:mb-6 mb-6  border border-black rounded-md`}
  transition:name={`wiki:section:${title}`}
>
  <h2 class="pb-4 text-2xl font-medium">
    {title}
  </h2>
  <slot />
</section>
