---
import { getBackend } from '$functions/getBackend'
import AccessCard from './accessCard.svelte'

import type { AuthenticatedUser } from '$types/AuthenticatedUser'

export interface Props {
  user: AuthenticatedUser
}

const { user } = Astro.props

// determine that user should be able to see access card or not
// hard-code for now, will build conditions later
let { granted } = await getBackend(Astro).gardenGate.checkAccess.query()
---

{
  granted && (
    <section class="mx-auto max-w-sm md:max-w-2xl">
      <AccessCard client:idle {...{ user }} />
    </section>
  )
}
