---
import AccessCard from './accessCard.svelte'

const { user } = Astro.locals

// determine that user should be able to see access card or not
// hard-code for now, will build conditions later
let { granted } = await Astro.locals.backend.gardenGate.checkAccess.query()
---

{
  granted && (
    <section class="mx-auto max-w-sm md:max-w-2xl">
      <AccessCard client:idle {...{ user }} />
    </section>
  )
}
