<BaseLayout title="Events">
  <div class="cg-container">
    <div class="prose max-w-none">
      <h1 class="mt-16">Nattanon Dungsunenarn</h1>
      <h2 class="mt-12">Advisor</h2>
      <br/> <br/>
      <h2 class="mb-12">
        An editor-in-chief of <a href="https://spaceth.co">Spaceth.co</a> He is a columnist, writer, designer, programmer who believes in the intersection between Arts, Science, Philosophy, and humanity.
      </h2>
    </div>
  </div>
</BaseLayout>

<style>
  h1 {
    @apply text-3xl leading-tight lg:text-4xl;
    font-family: 'Playfair Display', 'Inter', system-ui, -apple-system,
      BlinkMacSystemFont, 'Segoe UI', Roboto;
  }
</style>


