---
import dayjs from 'dayjs'

import BaseLayout from '$layouts/base.astro'
import EventPoster from '$components/eventPoster.astro'
import Head from '$components/head.astro'
import CFImage from '$components/CFImage.astro'

import { getEvents } from '$functions/getEvents'

const now = dayjs()
const events = await getEvents()
---

<Head title="Events" />

<BaseLayout class="max-w-7xl mx-auto space-y-12 [&>*]:px-6">
  <section>
    <h1 class="uppercase text-3xl font-medium">Upcoming Events</h1>
    <div class="mt-6 space-y-12 :space-y-6 lg:space-y-0 lg:grid lg:grid-cols-2">
      {
        events
          .filter(event => event.date.isAfter(now))
          .map(event => <EventPoster event={event} />)
      }
    </div>
  </section>
  <section>
    <h1 class="uppercase text-3xl font-medium">Recurring Events</h1>
    <div
      class="[&>*]:bg-white [&>*]:p-8 [&>*]:rounded-xl grid sm:grid-cols-3 gap-6 pt-8"
    >
      <div>
        <p class="font-medium leading-none">HACKTOBERFEST THAILAND</p>
        <p>OCTOBER</p>
      </div>
      <div>
        <p class="font-medium leading-none">STUPID HACKATHON IN THAILAND</p>
        <p>Late Q2 - Early Q3</p>
      </div>
      <div>
        <p class="font-medium leading-none">CREATIVE CODE</p>
        <p>BIWEEKLY</p>
      </div>
    </div>
  </section>
  <section class="pb-12">
    <h1 class="uppercase text-3xl font-medium">Past Events</h1>
    <div
      class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 sm:gap-6 mt-6"
    >
      {
        events
          .filter(event => event.date.isBefore(now))
          .map(event => (
            <a href={`/event/${event.id}`}>
              <CFImage
                src={`/images/events/${event.id}.png`}
                alt={event.name}
                width={300}
                ratio={1}
                class="w-full"
              />
            </a>
          ))
      }
    </div>
  </section>
</BaseLayout>
