---
import path from 'path'
import dayjs from 'dayjs'

import BaseLayout from '$layouts/base.astro'

import { getMarkdownFromSlug } from '$functions/getMarkdownFromSlug'

import type { EventFrontmatter } from '$types/EventFrontmatter'

const eventIds = (await Astro.glob('../../public/images/events/*.png'))
  .map(item => path.basename(item.default))
  .map(item => item.replace('.png', ''))

const events = (
  await Promise.all(
    eventIds.map(async eventId => {
      const markdown = await getMarkdownFromSlug<EventFrontmatter>(
        `Events/${eventId}`
      )

      if (markdown === null) return null

      return {
        id: eventId,
        name: markdown.frontMatter.name,
        date: dayjs(markdown.frontMatter.date),
      }
    })
  )
)
  .filter(o => o !== null)
  .sort((a, b) => {
    return b!.date.unix() - a!.date.unix()
  })

const now = dayjs()
---

<BaseLayout class="max-w-7xl mx-auto space-y-12 [&>*]:px-6">
  <section class="max-w-[70%]">
    <h1 class="uppercase text-3xl font-medium">Upcoming Events</h1>
    <div class="mt-6">
      {
        events
          .filter(event => event!.date.isAfter(now))
          .map(event => (
            <div class="flex space-x-4">
              <a href={`/event/${event!.id}`}>
                <img
                  src={`/images/events/${event!.id}.png`}
                  class="w-64 aspect-square shrink-0"
                />
              </a>
              <div>
                <h2 class="text-3xl font-medium uppercase">{event!.name}</h2>
              </div>
            </div>
          ))
      }
    </div>
  </section>
  <section>
    <h1 class="uppercase text-3xl font-medium">[Highlight] Recurring Events</h1>
  </section>
  <section>
    <h1 class="uppercase text-3xl font-medium">Past Events</h1>
    <div class="grid grid-cols-4 gap-6 mt-6">
      {
        events
          .filter(event => event!.date.isBefore(now))
          .map(event => (
            <a href={`/event/${event!.id}`}>
              <img
                src={`/images/events/${event!.id}.png`}
                class="w-full aspect-square"
              />
            </a>
          ))
      }
    </div>
  </section>
</BaseLayout>
