---
import dayjs from 'dayjs'

import BaseLayout from '$layouts/base.astro'
import EventPoster from '$components/eventPoster.astro'

import { getEvents } from '$functions/getEvents'

const now = dayjs()
const events = await getEvents()
---

<BaseLayout class="max-w-7xl mx-auto space-y-12 [&>*]:px-6">
  <section class="sm:max-w-4xl">
    <h1 class="uppercase text-3xl font-medium">Upcoming Events</h1>
    <div class="mt-6 space-y-6">
      {
        events
          .filter(event => event.date.isAfter(now))
          .map(event => (
            <EventPoster event={event} />
          ))
      }
    </div>
  </section>
  <section>
    <h1 class="uppercase text-3xl font-medium">[Highlight] Recurring Events</h1>
    <div
      class="[&>*]:bg-white [&>*]:p-8 [&>*]:rounded-xl grid sm:grid-cols-3 gap-6 pt-8"
    >
      <div>
        <p class="font-medium leading-none">HACKTOBERFEST THAILAND</p>
        <p>OCTOBER</p>
      </div>
      <div>
        <p class="font-medium leading-none">STUPID HACKATHON</p>
        <p>MID Q2 TO MID Q3</p>
      </div>
      <div>
        <p class="font-medium leading-none">CREATIVE CODE</p>
        <p>BIWEEKLY</p>
      </div>
    </div>
  </section>
  <section class="pb-12">
    <h1 class="uppercase text-3xl font-medium">Past Events</h1>
    <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 sm:gap-6 mt-6">
      {
        events
          .filter(event => event.date.isBefore(now))
          .map(event => (
            <a href={`/event/${event.id}`}>
              <img
                src={`/images/events/${event!.id}.png`}
                class="w-full aspect-square"
              />
            </a>
          ))
      }
    </div>
  </section>
</BaseLayout>
