---
import Participate from '$components/frontpage/participate.astro'
import Head from '$components/head.astro'
import Guilds from '$components/guilds.astro'
import BaseLayout from '$layouts/base.astro'
import CFImage from '$components/cfImage.astro'
import { getWebsiteConfig } from '$functions/getWebsiteConfig'

const websiteConfig = await getWebsiteConfig()
---

<Head />

<BaseLayout class="max-w-7xl mx-auto space-y-10 md:space-y-16 [&>*]:px-6">
  <section class="text-center">
    <!-- <h2 class="font-medium">CONNECT / CRAFT / EXPLORE</h2> -->
    <h1 class="py-4 text-4xl sm:text-6xl font-medium">
      CONNECTING CREATORS,<br />MAKING THINGS.
    </h1>
    <!-- <a href="/wiki/DemocratizeCreationForAll" class="text-sky-600"
      >OUR MANIFESTO →</a
    > -->
  </section>
  <section class="sm:grid grid-cols-2 gap-8">
    <CFImage
      src="/images/garten.jpg"
      fetchpriority="high"
      loading="eager"
      width={620}
      ratio={16 / 9}
      class="w-full rounded-2xl"
      alt="bkkoss"
    />
    <article
      class="pt-6 sm:pt-0 space-y-4 sm:space-y-0 flex flex-col justify-evenly"
    >
      <h1 class="font-medium text-lg">CREATORSGARTEN = GARDEN OF CREATORS</h1>

      <p>
        Building things to solve one's own problems should be a possibility for
        everyone, regardless of their age, economic status, education, or
        opportunities, without relying on governments or corporations.
      </p>
      <p>
        Today, some developers and makers instinctively develop applications,
        tools, or hardware to solve their own problems when they arise. Thus,
        they learn effectively at maximum speed.
      </p>
      <a href="/wiki/DemocratizeCreationForAll" class="text-blue-500"
        >MANIFESTO →</a
      >
    </article>
  </section>
  <!-- <section>
    <h2 class="text-center text-4xl font-medium">OUR PROJECTS</h2>
  </section> -->
  <section class="space-y-10">
    <Participate />
    <div class="pt-4">
      <h2 class="text-3xl font-medium">SERIES</h2>
      <div class="[&>*]:p-8 [&>*]:rounded-xl grid sm:grid-cols-3 gap-6 pt-4">
        {
          websiteConfig?.events.recurring.map(event => (
            <a
              class={`border-2 border-black bg-white`}
              href="/wiki/StupidHackTH"
            >
              <p class="font-medium uppercase leading-none">{event.name}</p>
              <p class="uppercase">{event.schedule}</p>
            </a>
          ))
        }
      </div>
    </div>
  </section>
  <section class="mb-6">
    <Guilds />
  </section>
  <!-- <section class="space-y-8">
    <h2 class="text-center text-4xl font-medium">OUR SPONSORS</h2>
    <p class="mx-auto max-w-2xl text-center">
      Building things to solve one's own problems should be a possibility for
      everyone, regardless of their age, economic status, education, or
      opportunities, without relying on governments or corporations.
    </p>
    <div class="flex justify-center">
      <a class="mx-auto text-sky-600">MORE ON SPONSORSHIPS →</a>
    </div>
    <div class="space-y-10">
      <div class="grid sm:grid-cols-2 gap-6 sm:gap-10">
        <div class="aspect-[894/441] rounded-3xl bg-gray-500"></div>
        <div>
          <img
            src="/images/sponsors/true.png"
            class="mb-4 h-16"
            alt="truecorp"
          />
          <p>
            Building things to solve one's own problems should be a possibility
            for everyone, regardless of their age, economic status, education,
            or opportunities, without relying on governments or corporations.
          </p>
        </div>
      </div>
      <div class="grid sm:grid-cols-2 gap-6 sm:gap-10">
        <div class="aspect-[894/441] rounded-3xl bg-gray-500"></div>
        <div>
          <img
            src="/images/sponsors/thaicom.png"
            class="mb-4 h-16"
            alt="thaicom"
          />
          <p>
            Building things to solve one's own problems should be a possibility
            for everyone, regardless of their age, economic status, education,
            or opportunities, without relying on governments or corporations.
          </p>
        </div>
      </div>
    </div>
  </section> -->
  <!-- <section>
    <h2 class="text-center text-4xl font-medium pb-8">CORPORATE SPONSORS</h2>
    <div class="grid sm:grid-cols-3 lg:grid-cols-4 gap-8">
      {
        [
          'xlab',
          'prior',
          'scb10x',
          'cleverse',
          'microsoft',
          'persec',
          'dev-mountain',
        ].map(sponsor => (
          <div class="flex items-center justify-center rounded-3xl bg-white px-14 py-8">
            <img
              src={`/images/sponsors/${sponsor}.png`}
              class="max-h-[100px]"
              alt={sponsor}
            />
          </div>
        ))
      }
    </div>
  </section> -->
  <div class="pt-8"></div>
</BaseLayout>
