---
import RevampBase from "$layouts/base.astro";

---

<RevampBase class="space-y-12 [&>*]:px-6">
  <section class="text-center">
    <h2 class="font-medium">CONNECT / CRAFT / EXPLORE</h2>
    <h1 class="text-6xl pt-2 pb-4 font-medium">WE DEMOCRATIZE<br />CREATION FOR ALL</h1>
    <a>OUR MANIFESTO -&gt;</a>
  </section>
  <section class="grid grid-cols-2 gap-8">
    <div class="w-full aspect-video bg-neutral-200 rounded-2xl" />
    <article class="flex flex-col justify-evenly">
      <h3>CREATORSGARTEN = GARDEN OF CREATORS</h3>

      <p class="text-sm">Building things to solve one's own problems should be a possibility for everyone, regardless of their age, economic status, education, or opportunities, without relying on governments or corporations.</p>
      <p class="text-sm">Today, some developers and makers instinctively develop applications, tools, or hardware to solve their own problems when they arise. Thus, they learn effectively at maximum speed.</p>

      <a>SEE MORE -&gt;</a>
    </article>
  </section>
  <section>
    <h2 class="text-center text-4xl font-medium">OUR PROJECTS</h2>
  </section>
  <section class="space-y-6">
    <h2 class="text-center text-4xl font-medium">PARTICIPATE</h2>
    <div class="grid grid-cols-2 gap-8 font-medium text-3xl [&>*]:flex [&>*]:space-x-6">
      <div>
        <div class="w-1/2 bg-neutral-200 aspect-square" />
        <p>THE 7th STUPID HACKATHON THAILAND</p>
      </div>
      <div>
        <div class="w-1/2 bg-neutral-200 aspect-square" />
        <p>CREATIVE CODING DAY</p>
      </div>
    </div>
    <div>
      <h2 class="text-3xl font-medium py-4">RECURRING EVENTS</h2>
      <div class="grid grid-cols-3 gap-6 [&>*]:bg-white [&>*]:p-6 [&>*]:rounded-xl">
        <div>
          <p class="font-medium leading-none">HACKTOBERFEST THAILAND</p>
          <p>OCTOBER</p>
        </div>
        <div>
          <p class="font-medium leading-none">STUPID HACKATHON</p>
          <p>MID Q2 TO MID Q3</p>
        </div>
        <div>
          <p class="font-medium leading-none">CREATIVE CODE</p>
          <p>BIWEEKLY</p>
        </div>
      </div>
    </div>
  </section>
</RevampBase>
