---
import Guilds from '$components/guilds.astro'
import BaseLayout from '$layouts/base.astro'
---

<BaseLayout class="max-w-7xl mx-auto [&>*]:px-6">
  <section>
    <img
      src="/images/garten.jpg"
      class="w-full aspect-[9/4] object-cover rounded-2xl"
    />
    <h1 class="uppercase font-medium text-4xl pt-12 pb-4">
      Our Teams & Partners
    </h1>
    <p class="max-w-[50%] pb-4">
      Building things to solve one's own problems should be a possibility for
      everyone, regardless of their age, economic status, education, or
      opportunities, without relying on governments or corporations.
    </p>
    <a href="#" class="hover:text-sky-600">SEE MORE →</a>
  </section>
  <section class="pt-6">
    <Guilds theme="light" />
  </section>
  <div class="pt-8"></div>
</BaseLayout>
