---
import WikiLayout from "$layouts/wiki.astro"

---

<WikiLayout title="mari cunny" contents={[]} metadata={{
  created: {
    at: new Date(),
    by: 'poom'
  },
  edited: {
    at: new Date(),
    by: 'riffy'
  },
}}>
  <p>
    วันทามารีย์ เปี่ยมด้วยพระหรรษทาน พระเจ้าสถิตกับท่าน
    ผู้ได้รับพระพรกว่าสตรีใดๆ และพระเยซูโอรสของท่าน ทรงได้รับพระพรยิ่งนัก
    สันตะมารีย์ พระมารดาพระเจ้า โปรดภาวนาเพื่อลูกทั้งหลายผู้เป็นคนบาป
    บัดนี้และเมื่อจะตาย อาแมน 😭😭😭
  </p>
</WikiLayout>
