---
import dayjs from 'dayjs'
import { getEvents } from '$functions/getEvents'

const events = await getEvents()
const upcomingEvents = events.filter(o => o.date.isAfter(dayjs())).slice(0, 2)
---

{
  upcomingEvents.length !== 0 && (
    <div>
      <h2 class="py-4 text-3xl font-medium">PARTICIPATE</h2>
      <div class="grid grid-cols-2 gap-8 text-3xl font-medium">
        {upcomingEvents.map(event => (
          <div class="flex space-x-6">
            <img
              src={`/images/events/${event.id}.png`}
              class="aspect-square w-1/2"
            />
            <p class="uppercase">{event.name}</p>
          </div>
        ))}
      </div>
    </div>
  )
}
