---
import dayjs from 'dayjs'

import EventPoster from '$components/eventPoster.astro'
import { getEvents } from '$functions/getEvents'

const events = await getEvents()
const upcomingEvents = events
  .filter(o => o.date.isAfter(dayjs()))
  .slice(0, 2)
  .reverse()
---

{
  upcomingEvents.length !== 0 && (
    <div>
      <h2 class="py-4 text-3xl font-medium">PARTICIPATE</h2>
      <div class="grid sm:grid-cols-2 gap-8 text-3xl font-medium">
        {upcomingEvents.map(event => (
          <EventPoster event={event!} />
        ))}
      </div>
    </div>
  )
}
