---
export interface Props {
  title: string
  noBottomBorder?: boolean
}
---

<section
  class={`p-6 ${
    Astro.props.noBottomBorder ?? 'border-b-2'
  } border-black md:bg-white`}
>
  <h2 class="pb-4 text-center font-medium uppercase">
    {Astro.props.title}
  </h2>
  <slot />
</section>
