---
export interface Props {
  title: string
  noBottomBorder?: boolean
}
---

<section class={`p-6 my-3 md:m-0 md:mb-6 mb-6 bg-neutral-100`}>
  <h2 class="pb-4 text-2xl font-medium">
    {Astro.props.title}
  </h2>
  <slot />
</section>
