---
export interface Props {
  title: string
  noBottomBorder?: boolean
}
---

<section
  class={`p-6 mx-5 my-3 md:m-0 md:mb-6 rounded-xl bg-white`}
>
  <h2 class="pb-4 text-center text-xl font-medium uppercase">
    {Astro.props.title}
  </h2>
  <slot />
</section>
