---
export interface Props {
  contents: {
    id: string
    label: string
    rank: number
  }[]
}
---

{
  Astro.props.contents.length > 0 && (
    <section class={`mb-6 bg-neutral-100 p-6`}>
      <p class="pb-4 text-2xl font-medium">Contents</p>
      <ul class="gap-1 text-sm">
        {Astro.props.contents.map(content => (
          <li class="py-[0.35rem] pr-4">
            <a
              class="transition-all hover:font-semibold"
              href={'#' + content.id}
            >
              > {content.label}
            </a>
          </li>
        ))}
      </ul>
    </section>
  )
}

<style>
  .mesh {
    background: fixed;
    background-color: rgb(252, 165, 165);
    background-image: radial-gradient(
        at 79% 79%,

        rgb(236, 254, 255) 0,

        transparent 59%
      ),
      radial-gradient(at 22% 84%, rgb(254, 249, 195) 0, transparent 47%),
      radial-gradient(at 55% 48%, rgb(136, 19, 55) 0, transparent 47%),
      radial-gradient(at 81% 52%, rgb(7, 89, 133) 0, transparent 52%),
      radial-gradient(at 19% 2%, rgb(147, 197, 253) 0, transparent 35%);
  }
</style>
