---
import { getAuthenticatedUser } from '$functions/auth/getAuthenticatedUser'

const user = await getAuthenticatedUser(Astro)
---

{
  user !== null ? (
    <a href="/dashboard" class="inline-flex justify-center shrink-0 rounded-lg sm:rounded-full py-2 px-4 bg-white text-[#1c1916] w-full sm:w-auto">
      DASHBOARD
    </a>
  ) : (
    <a
      href="/auth/login"
      class="inline-flex justify-center shrink-0 rounded-lg sm:rounded-full py-2 px-4 bg-[#1c1916] text-white w-full sm:w-auto"
    >
      LOGIN
    </a>
  )
}
