{
  Astro.locals.user !== null ? (
    <a href="/dashboard" class="button">
      DASHBOARD
    </a>
  ) : (
    <a
      href={`/auth/login?${new URLSearchParams({
        dest: Astro.url.pathname,
      }).toString()}`}
      class="button"
    >
      LOGIN
    </a>
  )
}

<style>
  .button {
    @apply inline-flex w-full shrink-0 justify-center rounded-lg bg-[#1c1916] px-3 py-1 text-base font-normal text-white sm:w-auto sm:rounded-full md:text-sm;
  }
</style>
