---
import { getBackend } from '$functions/getBackend'
const user = await getBackend(Astro).auth.getAuthenticatedUser.query()
---

{
  user !== null ? (
    <a
      href="/dashboard"
      class="inline-flex w-full shrink-0 justify-center rounded-lg bg-white px-4 py-2 text-[#1c1916] sm:w-auto sm:rounded-full"
    >
      DASHBOARD
    </a>
  ) : (
    <a
      href={`/auth/login?${new URLSearchParams({
        dest: Astro.url.pathname,
      }).toString()}`}
      class="inline-flex w-full shrink-0 justify-center rounded-lg bg-[#1c1916] px-4 py-2 text-white sm:w-auto sm:rounded-full"
    >
      LOGIN
    </a>
  )
}
