{
  Astro.locals.user !== null ? (
    <a href="/dashboard" class="button">
      Dashboard
    </a>
  ) : (
    <a
      href={`/auth/login?${new URLSearchParams({
        dest: Astro.url.pathname,
      }).toString()}`}
      class="button"
    >
      Login
    </a>
  )
}

<style>
  @import 'tailwindcss' reference;

  .button {
    @apply flex h-full items-center rounded-md bg-neutral-100 px-2 pt-[0.35rem] pb-[0.15rem] transition-colors hover:bg-blue-500 hover:text-white;
  }
</style>
