---
import { Icon } from 'react-iconify-icon-wrapper'

export interface Props {
  parents: { title: string; href?: string }[]
  title: string
}
---

<div
  class="top-0 z-20 mt-8 flex w-full items-center justify-between overflow-hidden whitespace-nowrap break-words py-3 text-2xl lg:py-4 xl:text-3xl"
>
  <div class="w-full justify-between text-xl font-medium lg:flex lg:text-2xl">
    <div
      class="w-full rounded-md border border-black bg-white px-3 py-2 text-black lg:w-auto"
    >
      <h1 class="text-wrap lg:text-nowrap">
        {
          Astro.props.parents?.[0]?.title === 'Wiki'
            ? '📒 '
            : Astro.props.parents.map((item, index) => (
                <>
                  <a href={item.href} transition:name={`breadcrumb:${index}`}>
                    {item.title}
                  </a>
                  {' → '}
                </>
              ))
        }
        <span class="font-medium">{Astro.props.title}</span>
      </h1>
    </div>
    <div class="mx-4 my-auto hidden w-full overflow-hidden lg:block">
      <img src="/images/wavy.svg" class="h-5" alt="" />
    </div>
    <div class="hidden items-center text-nowrap text-4xl lg:flex">
      <div class="hidden gap-2 lg:flex">
        <a
          target="_blank"
          rel="noopener noreferrer"
          href={`https://twitter.com/intent/tweet?${new URLSearchParams({
            url: Astro.url.toString(),
            text: 'Check this',
            via: 'Creatorsgarten',
          }).toString()}`}
          aria-label="Share to Twitter"
        >
          <Icon icon="mdi:twitter" width={32} />
        </a>
        <a
          target="_blank"
          rel="noopener noreferrer"
          href={`https://www.facebook.com/dialog/share?${new URLSearchParams({
            app_id: '2314627122104275',
            href: Astro.url.toString(),
            feature: 'share',
            display: 'popup',
          }).toString()}`}
          aria-label="Share to Facebook"
        >
          <Icon icon="mdi:facebook" width={32} />
        </a>
      </div>
    </div>
  </div>
</div>
