---
import CardText from './cardText.astro'

export interface Props {
  header: string
  img: string
  normal: string
  bold: string
  tag: string
  date?: string
  link: string
}

const {
  header,
  img,
  normal = '',
  bold = '',
  tag = '',
  date = '4 October 2022',
  link = '#',
} = Astro.props
---

<a
  href={link}
  class="group grid grid-cols-3 gap-4 border border-gray-600 bg-white transition-all hover:scale-[1.001] hover:shadow-md xl:flex xl:flex-col"
>
  <div
    class="flex aspect-square w-full items-center justify-center xl:aspect-video"
  >
    <img
      src={img}
      alt=""
      class="relative h-full max-w-max overflow-hidden border-r border-gray-600 object-cover lg:border-b xl:aspect-video xl:border-r-0"
    />
  </div>
  <div
    class="col-span-2 flex flex-col justify-center py-3 pr-5 md:h-full lg:justify-between xl:py-0 xl:pl-3 xl:pb-4"
  >
    <div class="flex flex-col justify-center gap-1 md:h-full md:justify-start">
      <h6 class="font-medium">{tag}</h6>
      <h3>{header}</h3>
    </div>
    <p class="mt-1 flex text-xs md:text-base lg:mt-5">
      <CardText {...{ bold, normal }} />
    </p>
  </div>
</a>
