---
import CFImage from './cfImage.astro'

export interface Props {
  theme?: 'light' | 'dark'
}

const isLight = (Astro.props.theme ?? 'dark') === 'light'

const guilds = [
  {
    id: 'stupidhack-th',
    name: 'Stupid Hackathon in Thailand',
  },
  {
    id: 'showdown-space',
    name: 'Showdown Space',
  },
  {
    id: 'showdown-space',
    name: 'Tech Club Circle',
  },
  {
    id: 'bkkoss-initiative',
    name: 'Bangkok Open Source Initiative',
  },
  {
    id: 'showdown-space',
    name: 'Creative Coding',
  },
]
---

<div
  class={`grid sm:grid-cols-2 md:grid-cols-3 gap-6 md:gap-8 p-6 md:p-8 rounded-3xl text-white ${
    !isLight ? 'bg-[#1C1916]' : 'bg-white'
  }`}
>
  {
    guilds.map(guild => (
      <div class="relative aspect-5/3 w-full overflow-hidden rounded-2xl">
        <CFImage
          src={`/images/${guild.id}.jpg`}
          class="h-full w-full object-cover"
          alt={guild.name}
          width={{
            max: 400,
            sm: 500,
          }}
          ratio={5 / 3}
        />
        <div class="absolute bottom-0 left-0 right-0 top-0 flex items-center justify-center bg-black/40 text-center text-lg uppercase">
          <span>{guild.name}</span>
        </div>
      </div>
    ))
  }
  <div
    class={`aspect-5/3 flex flex-col justify-evenly ${
      isLight ? 'text-[#1C1916]' : 'text-white'
    }`}
  >
    <h1 class="text-xl font-medium uppercase">Guilds</h1>
    <p>
      regardless of their age, economic status, education, or opportunities,
      without relying on governments or corporations.
    </p>
    <a href="/wiki/Guilds" class="text-sky-600">SEE MORE →</a>
  </div>
</div>
