---
export interface Props {
  data?: [string, string | string[]][]
}

const { data = [] } = Astro.props
---

<table class="text-sm">
  <tbody class="[&>tr>td:nth-child(1)]:font-medium [&>tr>td:nth-child(2)]:pl-4">
    {
      data.map(([key, value]) => {
        return (
          <tr>
            <td>{key}</td>
            <td>
              {typeof value === 'object' ? (
                value.map(o => <p>{o}</p>)
              ) : (
                <p>{value}</p>
              )}
            </td>
          </tr>
        )
      })
    }
    <slot name='table' />
  </tbody>
</table>
