---
---

<section
  class="cg-large-container mt-1 flex h-14 items-center justify-between py-4"
>
  <a rel="prefetch" href="/" class="relative flex h-full items-center"
    ><img
      src="/images/creatorsgarten.svg"
      class="h-full"
      alt="Creatorsgarten"
    />
  </a>
  <div class="flex gap-4">
    <a rel="prefetch" href="/events">Events</a>
    <a rel="prefetch" href="/ring">Ring</a>
    <a rel="prefetch" href="/manifesto">Manifesto</a>
  </div>
</section>

<style>
  a {
    @apply text-lg font-medium tracking-[-0.015em] transition-all hover:underline;
  }
</style>
