---
import discordIcon from '@iconify/icons-ic/baseline-discord'
import facebookIcon from '@iconify/icons-ic/baseline-facebook'
import githubIcon from '@iconify/icons-mdi/github'

const icon = (d: { default?: {body?: string}; body?: string }) => {
  return JSON.stringify(d.body || d.default?.body)
}
---

<section
  class="cg-large-container mt-1 flex h-14 items-center justify-between py-4"
>
  <a rel="prefetch" href="/" class="relative flex h-full items-center"
    ><img
      src="/images/creatorsgarten.svg"
      class="h-full"
      alt="Creatorsgarten"
    />
  </a>
  <div class="flex gap-4">
    <a rel="prefetch" href="/events">Events</a>
    <a rel="prefetch" href="/ring">Ring</a>
    <a rel="prefetch" href="/manifesto">Manifesto</a>
    <a href="https://grtn.org/discord" title="Discord">
      <iconify-icon inline icon={icon(discordIcon)}></iconify-icon>
    </a>
    <a href="https://grtn.org/fb" title="Facebook">
      <iconify-icon inline icon={icon(facebookIcon)}></iconify-icon>
    </a>
    <a href="https://grtn.org/gh" title="GitHub">
      <iconify-icon inline icon={icon(githubIcon)}></iconify-icon>
    </a>
  </div>
</section>

<style>
  a {
    @apply text-lg font-medium tracking-[-0.015em] transition-all hover:underline;
  }
</style>
