---
import { Icon } from 'react-iconify-icon-wrapper'
import type { Requirement } from '../@types/Requirement'

interface Props {
  requirements: Requirement[]
}

const { requirements } = Astro.props
---

<div class="space-y-3">
  {
    requirements.map(req => (
      <div>
        <div class="flex items-center">
          <span
            class={`mr-2 inline-flex h-5 w-5 items-center justify-center rounded-full ${req.met ? 'bg-green-500' : 'bg-red-500'}`}
          >
            {req.met ? (
              <Icon icon="heroicons:check" className="text-white h-4 w-4" />
            ) : (
              <Icon icon="heroicons:x-mark" className="text-white h-4 w-4" />
            )}
          </span>
          <span>{req.displayName}</span>
          {!req.met && req.callToAction && (
            <a
              href={req.callToAction.url}
              class="ml-2 text-sm font-medium text-blue-600 hover:underline"
              target={
                req.callToAction.url.startsWith('http') ? '_blank' : undefined
              }
            >
              {req.callToAction.text}
            </a>
          )}
        </div>
        {req.explanation && (
          <p class="ml-7 text-sm text-gray-600">{req.explanation}</p>
        )}
      </div>
    ))
  }
</div>
