---
import { getAuthenticatedUser } from '$functions/auth/getAuthenticatedUser'

const user = await getAuthenticatedUser(Astro)
---

{
  user !== null ? (
    <button class="shrink-0 rounded-full bg-white py-2 px-4 text-[#1c1916]">
      DASHBOARD
    </button>
  ) : (
    <a
      href="/auth/login"
      class="shrink-0 rounded-full bg-[#1c1916] py-2 px-4 text-white"
    >
      LOGIN
    </a>
  )
}
