---
import CardText from './cardText.astro'

export interface Props {
  header: string
  img: string
  normal: string
  bold: string
  tag: string
  link: string
}

const {
  header,
  img,
  normal = '',
  bold = '',
  tag = '',
  link = '#',
} = Astro.props
---

<a
  href={link}
  class="group relative flex aspect-[24/9] flex-col border border-gray-900 bg-gray-900 text-white transition-all hover:scale-[1.001] hover:shadow-md lg:aspect-video xl:aspect-auto"
>
  <img
    src={img}
    alt=""
    class="h-full object-cover opacity-50 transition-all group-hover:opacity-[60%]"
  />
  <div class="absolute flex h-full flex-col justify-between gap-8 p-4">
    <div class="flex flex-col gap-1">
      <h6><span class="font-medium">{tag}</span></h6>
      <h3 class="">{header}</h3>
    </div>
    <p class="mt-1 flex text-xs md:text-base lg:mt-5">
      <CardText {...{ bold, normal }} />
    </p>
  </div>
</a>
