<div class="grid sm:grid-cols-3 gap-6 rounded-3xl bg-[#1C1916] p-4 text-white">
  <div class="aspect-[5/3] w-full">
    <span>Stupid Hackathon Thailand</span>
  </div>
  <div class="aspect-[5/3] w-full">
    <span>Showdown Space</span>
  </div>
  <div class="aspect-[5/3] w-full">
    <span>Polaryz</span>
  </div>
  <div class="aspect-[5/3] w-full">
    <span>Bangkok Open Source Initiative</span>
  </div>
  <div class="aspect-[5/3] w-full">
    <span>Creative Coding</span>
  </div>
  <div class="aspect-[5/3]">
    <h1 class="font-medium">Working Groups</h1>
    <p>
      regardless of their age, economic status, education, or opportunities,
      without relying on governments or corporations.
    </p>
  </div>
</div>
