<div class="p-4 grid grid-cols-3 gap-6 bg-[#1C1916] text-white rounded-3xl">
  <div class="w-full aspect-[5/3]">
    <span>Stupid Hackathon Thailand</span>
  </div>
  <div class="w-full aspect-[5/3]">
    <span>Showdown Space</span>
  </div>
  <div class="w-full aspect-[5/3]">
    <span>Polaryz</span>
  </div>
  <div class="w-full aspect-[5/3]">
    <span>Bangkok Open Source Initiative</span>
  </div>
  <div class="w-full aspect-[5/3]">
    <span>Creative Coding</span>
  </div>
  <div class="aspect-[5/3]">
    <h1>Working Groups</h1>
    <p>
      regardless of their age, economic status, education, or opportunities,
      without relying on governments or corporations.
    </p>
  </div>
</div>
