---
export interface Props {
  theme?: 'light' | 'dark'
}

const isLight = (Astro.props.theme ?? 'dark') === 'light'
---

<div
  class={`grid sm:grid-cols-3 gap-6 md:gap-8 p-6 md:p-8 rounded-3xl ${
    !isLight ? 'bg-[#1C1916] text-white' : 'bg-white text-[#1C1916]'
  }`}
>
  <div class="aspect-[5/3] rounded-2xl w-full relative overflow-hidden">
    <img src="/images/stupidhack-th.jpg" class="w-full h-full object-cover" />
    <div
      class="absolute top-0 bottom-0 left-0 right-0 bg-black/40 uppercase flex justify-center items-center text-center text-lg"
    >
      <span>Stupid Hackathon in Thailand</span>
    </div>
  </div>
  <div class="aspect-[5/3] rounded-2xl w-full relative overflow-hidden">
    <img src="/images/showdown-space.jpg" class="w-full h-full object-cover" />
    <div
      class="absolute top-0 bottom-0 left-0 right-0 bg-black/40 uppercase flex justify-center items-center text-center text-lg"
    >
      <span>Showdown Space</span>
    </div>
  </div>
  <div class="aspect-[5/3] rounded-2xl w-full relative overflow-hidden">
    <img src="/images/showdown-space.jpg" class="w-full h-full object-cover" />
    <div
      class="absolute top-0 bottom-0 left-0 right-0 bg-black/40 uppercase flex justify-center items-center text-center text-lg"
    >
      <span>Tech Club Circle</span>
    </div>
  </div>
  <div class="aspect-[5/3] rounded-2xl w-full relative overflow-hidden">
    <img
      src="/images/bkkoss-initiative.jpg"
      class="w-full h-full object-cover"
    />
    <div
      class="absolute top-0 bottom-0 left-0 right-0 bg-black/40 uppercase flex justify-center items-center text-center text-lg"
    >
      <span>Bangkok Open Source Initiative</span>
    </div>
  </div>
  <div class="aspect-[5/3] rounded-2xl w-full relative overflow-hidden">
    <img src="/images/showdown-space.jpg" class="w-full h-full object-cover" />
    <div
      class="absolute top-0 bottom-0 left-0 right-0 bg-black/40 uppercase flex justify-center items-center text-center text-lg"
    >
      <span>Creative Coding</span>
    </div>
  </div>
  <div class="aspect-[5/3] flex flex-col justify-evenly">
    <h1 class="font-medium text-xl uppercase">Guilds</h1>
    <p>
      regardless of their age, economic status, education, or opportunities,
      without relying on governments or corporations.
    </p>
    <a>SEE MORE →</a>
  </div>
</div>
