---
import { getCollection } from 'astro:content'
import ContentLayout from '$layouts/content.astro'

interface PageList {
  url: string
  name?: string
}

// list all manually generated pages
const pages = (await Astro.glob('../**/*')).filter(
  page => page.frontmatter !== undefined
)
const eventEntries = await getCollection('event')

// compile as one list
const lists: PageList[] = [
  ...eventEntries.map(entry => ({
    url: `/wiki/Hacks/${entry.slug}`,
    name: entry.data.name,
  })),
  ...pages.map(page => ({
    url: page.url,
    name: page.frontmatter.title,
  })),
]
---

{JSON.stringify(pages)}

<ContentLayout frontmatter={{ title: 'All Pages' }}>
  <p>All pages!</p>
  <ul>
    {
      lists.map(list => (
        <li>
          <a href={list.url}>{list.url.replace('/wiki/', '')}</a> ({list.name})
        </li>
      ))
    }
  </ul>
</ContentLayout>
