@font-face {
  font-family: 'Basier Circle';
  src: url('/fonts/basier-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Basier Circle';
  src: url('/fonts/basier-medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

.word-spread {
  word-spacing: 100vw;
}

.prose {
  @apply font-prose;
}

.prose > h1 {
  font-family: 'Basier Circle', 'Anuphan', sans-serif;
}

.prose > h2 {
  font-family: 'Basier Circle', 'Anuphan', sans-serif;
}

.edit,
.prose a {
  font-variation-settings:
    'CASL' 1,
    'CRSV' 1,
    'slnt' -3,
    'MONO' 0;
  @apply no-underline;
}

a.internal[data-exists='false'] {
  @apply text-red-500;
}

/* .edit:hover,
.prose a:hover {
  font-variation-settings: 'CASL' 1, 'CRSV' 1, 'slnt' -6, 'MONO' 0;
  @apply font-semibold;
} */
