---
import { ClientRouter } from 'astro:transitions'

import './global.css'

import '@fontsource-variable/work-sans'

const { pathname } = Astro.url
const isNoIndex = pathname.endsWith('/editor') || pathname.startsWith('/auth')
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="shortcut icon" type="image/svg" href="/images/ring.svg" />
    <link rel="sitemap" href="/sitemap.xml" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Anuphan:wght@400;500&family=Sarabun:wght@400;500&display=swap"
      rel="stylesheet"
    />

    {isNoIndex && <meta name="robots" content="noindex" />}

    <slot name="head" />

    <ClientRouter />
    <script
      async
      is:inline
      src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.2/dist/iconify-icon.min.js"
      integrity="sha256-kwd+IKkvIXP95TLOfLvp/rHfnja1G+Ve+u1UR22A02k="
      crossorigin="anonymous"></script>
  </head>
  <body>
    <slot />
    <script
      defer
      is:inline
      src="https://static.cloudflareinsights.com/beacon.min.js"
      data-cf-beacon='{"token": "3f4c5a7b957a49c3877150febe83307f"}'></script>
  </body>
</html>
