---
import Breadcrumb from '$components/breadcrumb.astro'
import MainHorizontalPadding from '$components/mainHorizontalPadding.astro'
import BaseLayout from './base.astro'

export interface Props {
  title: string
}

const { title } = Astro.props
---

<BaseLayout>
  <MainHorizontalPadding>
    <Breadcrumb parents={[{ title: 'Wiki', href: '/wiki' }]} title={title} />

    <div
      class={`mt-4 lg:mt-8 grid grid-cols-1 gap-6 mb-10 sm:[grid-template-columns:minmax(240px,1fr)_minmax(0,4fr)] md:[grid-template-columns:minmax(288px,1.2fr)_minmax(0,4fr)] 2xl:[grid-template-columns:minmax(288px,1fr)_minmax(0,3fr)_minmax(288px,1fr)]`}
    >
      <div class="col-span-1">
        <div class="sticky top-22 flex flex-col sm:border-none">
          {/* top-24 */}
          <slot name="sidebar-left" />
          <div class="hidden flex-col md:flex">
            <slot name="sidebar-left-at-least-2-columns" />
          </div>
          <div class="hidden flex-col md:flex 2xl:hidden">
            <slot name="sidebar-left-less-than-3-columns" />
          </div>
        </div>
      </div>
      <div
        class="relative col-span-1 mb-6 h-auto rounded-xl bg-white px-1 md:min-h-[calc(100vh-24rem)] md:px-4 xl:px-6"
      >
        <slot />
      </div>
      <div class={`col-span-1 hidden 2xl:block`}>
        <div class="sticky top-0 flex flex-col">
          <slot name="sidebar-right" />
        </div>
      </div>
      <div class={`col-span-1 md:hidden md:border-y-2`}>
        <div class="flex flex-col pt-0.5">
          <slot name="sidebar-bottom" />
        </div>
      </div>
    </div>
  </MainHorizontalPadding>
</BaseLayout>
