@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Anuphan';
  font-weight: 400;
  src: url('/fonts/Anuphan/Anuphan-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Anuphan';
  font-weight: 500;
  src: url('/fonts/Anuphan/Anuphan-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'Anuphan';
  font-weight: 600;
  src: url('/fonts/Anuphan/Anuphan-SemiBold.otf') format('opentype');
}

body {
  @apply min-h-[100vh] background-animate text-gray-900 antialiased bg-gradient-to-b from-slate-50 to-slate-200;
  font-family: 'Inter', 'Anuphan', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  letter-spacing: -0.01em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  font-family: 'Inter', 'Anuphan', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
  @apply text-3xl lg:text-4xl leading-tight;
  font-family: 'Playfair Display', 'Inter', 'Anuphan', system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto;
}

h2 {
  @apply text-lg lg:text-2xl;
}

h3 {
  @apply text-base lg:text-xl leading-tight;
}

h6 {
  @apply text-xs lg:text-base;
}

.sans {
  font-family: 'Inter', 'Anuphan', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto;
}

.cg-container {
  @apply mx-auto max-w-[1440px] px-5 md:px-8 lg:px-48 xl:px-72;
}

.cg-large-container {
  @apply mx-auto max-w-[1440px] px-5 md:px-8 lg:px-24 xl:px-36;
}

a {
  @apply text-gray-900 transition-all;
}

.cg-btn {
  @apply inline-block rounded-md border-2 border-black px-3 py-1 text-black hover:bg-gray-200 hover:text-black disabled:opacity-30;
}

.background-animate {
  background-size: 400%;

  -webkit-animation: background-animation 10s ease infinite;
  -moz-animation: background-animation 10s ease infinite;
  animation: background-animation 10s ease infinite;
}

@keyframes background-animation {
  0%,
  100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}
