---
import Blank from './blank.astro'

import AuthButton from '../components/authButton.astro'
import Announcement from '$components/announcement.astro'

import './base.css'
import { sample } from '$functions/sample'
import { prng } from '$functions/prng'

export interface Props {
  class?: string
}
---

<Blank>
  <Announcement />
  <nav class="grid sm:flex grid-cols-2 justify-between px-6 pt-6 pb-8">
    <a href="/" aria-label="back to home">
      <img
        src="/images/creatorsgarten.svg"
        width={888}
        height={398}
        class="w-auto h-9"
        alt="garten"
      />
    </a>
    <button
      class="sm:hidden text-3xl ml-auto"
      onclick="let m=document.getElementById('nav-menu');m.classList.toggle('block');m.classList.toggle('hidden');"
      >🍔</button
    >
    <!-- TODO: Delete this -->
    <div
      id="nav-menu"
      class="hidden col-span-2 sm:col-span-1 w-full pt-6 sm:p-0 sm:w-auto sm:flex items-center sm:space-x-4 font-medium text-sm ml-auto"
    >
      <ul
        class={`grid grid-cols-2 text-lg md:text-sm gap-2 sm:flex shrink-0 sm:space-x-2 rounded-full sm:bg-[--accent-300] md:border-2 border-black py-2 px-4 mb-2 sm:mb-0`}
      >
        <li>
          <a href="/events">EVENTS</a>
        </li>
        <li>
          <a href="/wiki/Guilds">PEOPLE</a>
        </li>
        <li>
          <a href="/wiki/SelfIntroduction">US</a>
        </li>
        <li>
          <a href="/wiki">WIKI</a>
        </li>
      </ul>
      <AuthButton />
    </div>
  </nav>

  <main {...{ class: ' ' + Astro.props.class ?? '' }}>
    <slot />
  </main>

  <footer
    class="bg-[#ededed] py-12 font-medium uppercase border-b-2 md:border-y-2 border-black"
  >
    <div class="mx-auto max-w-7xl w-full md:flex justify-between px-8">
      <section
        class="grid w-full md:max-w-[60%] grid-cols-2 sm:grid-cols-4 gap-8"
      >
        <div>
          <h1>Crafts</h1>
          <ul class="pt-1 font-normal">
            <li><a href="/events">Events</a></li>
            <li>Projects</li>
          </ul>
        </div>
        <div>
          <h1>Content</h1>
          <ul class="pt-1 font-normal">
            <li><a href="https://www.youtube.com/@creatorsgarten">Video</a></li>
            <li>Podcast</li>
            <li>RSS feed</li>
          </ul>
        </div>
        <div>
          <h1>People</h1>
          <ul class="pt-1 font-normal">
            <li><a href="/people">Us & Partners</a></li>
            <li>Sponsors</li>
            <li><a href="/wiki/Ring">Webring</a></li>
          </ul>
        </div>
        <div>
          <h1>Us</h1>
          <ul class="pt-1 font-normal">
            <li>About</li>
            <li><a href="mailto:mail@creatorsgarten.org">Contact</a></li>
            <li>Legal</li>
          </ul>
        </div>
      </section>
      <section class="flex flex-col items-end pt-10 md:pt-0">
        <a href="/" aria-label="back to home">
          <img
            src="/images/creatorsgarten.svg"
            width={888}
            height={398}
            alt="garten"
            class="h-10 mb-4 w-auto"
          />
        </a>
        <p class="text-right text-sm">MADE WITH THE ❤️ OF 🪄</p>
      </section>
    </div>
  </footer>
</Blank>
