---
import Blank from './blank.astro'

import AuthButton from '../components/authButton.astro'
import Announcement from '$components/announcement.astro'

import './base.css'
import { getFeatureFlags } from '$functions/getFeatureFlags'

export interface Props {
  class?: string
}

const featureFlags = getFeatureFlags(Astro)
---

<Blank>
  {
    featureFlags.isEnabled('og:image') ? (
      <Fragment>
        <div class="mb-8 flex h-[285px] items-center justify-center bg-[--accent-300]">
          <img
            src="/images/creatorsgarten.svg"
            width={888}
            height={398}
            class="h-[200px] w-auto"
            alt="garten"
          />
        </div>
      </Fragment>
    ) : (
      <Fragment>
        <Announcement />
        <nav class="grid grid-cols-2 justify-between px-6 pb-8 pt-6 sm:flex">
          <a href="/" aria-label="back to home">
            <img
              src="/images/creatorsgarten.svg"
              width={888}
              height={398}
              class="h-9 w-auto"
              alt="garten"
            />
          </a>
          <button
            class="ml-auto text-3xl sm:hidden"
            onclick="let m=document.getElementById('nav-menu');m.classList.toggle('block');m.classList.toggle('hidden');"
          >
            🍔
          </button>
          <div
            id="nav-menu"
            class="col-span-2 ml-auto hidden w-full items-center pt-6 text-sm font-medium sm:col-span-1 sm:flex sm:w-auto sm:space-x-4 sm:p-0"
          >
            <ul
              class={`md: mb-2  grid shrink-0 list-disc grid-cols-2 gap-2 rounded-full px-4 py-2 text-base sm:mb-0 sm:flex  sm:space-x-2 sm:bg-[#e6e6e6] md:list-none md:text-sm`}
            >
              <li>
                <a href="/events">EVENTS</a>
              </li>
              <li>
                <a href="/wiki/Guilds">PEOPLE</a>
              </li>
              <li>
                <a href="/wiki/SelfIntroduction">US</a>
              </li>
              <li>
                <a href="/wiki">WIKI</a>
              </li>
            </ul>
            <AuthButton />
          </div>
        </nav>
      </Fragment>
    )
  }
  <main {...{ class: ' ' + Astro.props.class ?? '' }}>
    <slot />
  </main>

  <footer class="bg-[#e6e6e6] py-12 font-medium uppercase">
    <div class="mx-auto w-full max-w-7xl justify-between px-8 md:flex">
      <section
        class="grid w-full grid-cols-2 gap-8 sm:grid-cols-4 md:max-w-[60%]"
      >
        <div>
          <h1>Crafts</h1>
          <ul class="pt-1 font-normal">
            <li><a href="/events">Events</a></li>
            <li>Projects</li>
          </ul>
        </div>
        <div>
          <h1>Content</h1>
          <ul class="pt-1 font-normal">
            <li><a href="https://www.youtube.com/@creatorsgarten">Video</a></li>
            <li>Podcast</li>
            <li>RSS feed</li>
          </ul>
        </div>
        <div>
          <h1>People</h1>
          <ul class="pt-1 font-normal">
            <li><a href="/people">Us & Partners</a></li>
            <li>Sponsors</li>
            <li><a href="/wiki/Ring">Webring</a></li>
          </ul>
        </div>
        <div>
          <h1>Us</h1>
          <ul class="pt-1 font-normal">
            <li>About</li>
            <li><a href="mailto:mail@creatorsgarten.org">Contact</a></li>
            <li>Legal</li>
          </ul>
        </div>
      </section>
      <section class="flex flex-col items-end pt-10 md:pt-0">
        <a href="/" aria-label="back to home">
          <img
            src="/images/creatorsgarten.svg"
            width={888}
            height={398}
            alt="garten"
            class="mb-4 h-10 w-auto"
          />
        </a>
        <p class="text-right text-sm">MADE WITH THE ❤️ OF 🪄</p>
      </section>
    </div>
  </footer>
</Blank>
