---
import Blank from './blank.astro'

import AuthButton from '../components/authButton.astro'
import Announcement from '$components/announcement.astro'
import FooterLogo from './footerLogo.astro'

import './base.css'
import { getFeatureFlags } from '$functions/getFeatureFlags'

export interface Props {
  class?: string
}

const featureFlags = getFeatureFlags(Astro)
---

<Blank>
  {
    featureFlags.isEnabled('og:image') ? (
      <Fragment>
        <div class="mb-8 flex h-[285px] items-center justify-center">
          <img
            src="/images/creatorsgarten.svg"
            width={888}
            height={398}
            class="h-[200px] w-auto"
            alt="garten"
          />
        </div>
      </Fragment>
    ) : (
      <Fragment>
        <Announcement />
        <nav class="flex flex-col justify-between px-4 pb-8 pt-6 text-lg sm:flex-row lg:px-8">
          <div class="flex w-full justify-between">
            <a href="/" aria-label="back to home" class="flex items-center">
              <img
                src="/images/icons/solid.svg"
                width={888}
                height={398}
                class="h-[1.8rem] w-auto"
                alt="garten"
              />
            </a>
            <button
              class="ml-auto text-3xl sm:hidden"
              onclick="let m=document.getElementById('nav-menu');m.classList.toggle('block');m.classList.toggle('hidden');"
            >
              🍔
            </button>
          </div>
          <div
            id="nav-menu"
            class="ml-auto hidden w-full items-center pt-6 text-sm font-medium sm:col-span-1 sm:flex sm:w-auto sm:space-x-1 sm:p-0"
          >
            <ul
              class={`mb-2 flex shrink-0 justify-between gap-2 px-3 py-1 text-lg sm:mb-0 sm:flex sm:space-x-2 md:list-none md:text-base`}
            >
              <li>
                <a href="/wiki/SelfIntroduction">US</a>
              </li>
              <li>
                <a href="/events">EVENTS</a>
              </li>
              <li>
                <a href="/wiki">WIKI</a>
              </li>
            </ul>
            <AuthButton />
          </div>
        </nav>
      </Fragment>
    )
  }
  <main {...{ class: ' ' + Astro.props.class ?? '' }}>
    <slot />
  </main>

  <!-- <footer class="bg-[#e6e6e6] py-12 font-medium uppercase">
    <div class="mx-auto w-full max-w-7xl justify-between px-8 md:flex">
      <section
        class="grid w-full grid-cols-2 gap-8 sm:grid-cols-4 md:max-w-[60%]"
      >
        <div>
          <h1>Crafts</h1>
          <ul class="pt-1 font-normal">
            <li><a href="/events">Events</a></li>
            <li>Projects</li>
          </ul>
        </div>
        <div>
          <h1>Content</h1>
          <ul class="pt-1 font-normal">
            <li><a href="https://www.youtube.com/@creatorsgarten">Video</a></li>
            <li>Podcast</li>
            <li>RSS feed</li>
          </ul>
        </div>
        <div>
          <h1>People</h1>
          <ul class="pt-1 font-normal">
            <li><a href="/people">Us & Partners</a></li>
            <li>Sponsors</li>
            <li><a href="/wiki/Ring">Webring</a></li>
          </ul>
        </div>
        <div>
          <h1>Us</h1>
          <ul class="pt-1 font-normal">
            <li>About</li>
            <li><a href="mailto:mail@creatorsgarten.org">Contact</a></li>
            <li>Legal</li>
          </ul>
        </div>
      </section>
      <section class="flex flex-col items-end pt-10 md:pt-0">
        <a href="/" aria-label="back to home">
          <img
            src="/images/creatorsgarten.svg"
            width={888}
            height={398}
            alt="garten"
            class="mb-4 h-10 w-auto"
          />
        </a>
        <p class="text-right text-sm">MADE WITH THE ❤️ OF 🪄</p>
      </section>
    </div>
  </footer> -->
  <footer
    class="mt-16 flex flex-col-reverse sm:flex-row h-40 items-start sm:items-end justify-start sm:justify-between bg-ck p-4 text-white lg:p-8 lg:text-lg"
  >
    <div class="mt-4 sm:mt-0">Crafted by 👩‍💻 🧑‍🎨 🧙 🦹‍♀️ & more.</div>
    <FooterLogo />
  </footer>
</Blank>
