---
import './blank.css'

import '@fontsource/work-sans/latin-300.css'
import '@fontsource/work-sans/latin-400.css'
import '@fontsource/work-sans/latin-500.css'
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="shortcut icon" type="image/svg" href="/images/ring.svg" />
    <link rel="sitemap" href="/sitemap.xml" />

    <slot name="head" />

    <script
      async
      src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.2/dist/iconify-icon.min.js"
      integrity="sha256-kwd+IKkvIXP95TLOfLvp/rHfnja1G+Ve+u1UR22A02k="
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <slot />
    <script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "3f4c5a7b957a49c3877150febe83307f"}'></script>
  </body>
</html>
