---
import { prng } from '$functions/prng'
import { sample } from '$functions/sample'
import './blank.css'

import '@fontsource/work-sans/latin-300.css'
import '@fontsource/work-sans/latin-400.css'
import '@fontsource/work-sans/latin-500.css'

const { pathname } = Astro.url
const isNoIndex = pathname.endsWith('/editor') || pathname.startsWith('/auth')

const accentColor = sample(
  [
    '[--accent-300:theme(colors.red.300)] [--accent-100:theme(colors.red.100)]',
    '[--accent-300:theme(colors.orange.300)] [--accent-100:theme(colors.orange.100)]',
    '[--accent-300:theme(colors.amber.300)] [--accent-100:theme(colors.amber.100)]',
    '[--accent-300:theme(colors.yellow.300)] [--accent-100:theme(colors.yellow.100)]',
    '[--accent-300:theme(colors.lime.300)] [--accent-100:theme(colors.lime.100)]',
    '[--accent-300:theme(colors.green.300)] [--accent-100:theme(colors.green.100)]',
    '[--accent-300:theme(colors.emerald.300)] [--accent-100:theme(colors.emerald.100)]',
    '[--accent-300:theme(colors.sky.300)] [--accent-100:theme(colors.sky.100)]',
    '[--accent-300:theme(colors.blue.300)] [--accent-100:theme(colors.blue.100)]',
    '[--accent-300:theme(colors.indigo.300)] [--accent-100:theme(colors.indigo.100)]',
    '[--accent-300:theme(colors.purple.300)] [--accent-100:theme(colors.purple.100)]',
    '[--accent-300:theme(colors.fuchsia.300)] [--accent-100:theme(colors.fuchsia.100)]',
    '[--accent-300:theme(colors.pink.300)] [--accent-100:theme(colors.pink.100)]',
    '[--accent-300:theme(colors.rose.300)] [--accent-100:theme(colors.rose.100)]',
  ],
  prng(Astro, ['page', 1])
)

const accentColor2 = sample(
  [
    '[--accent-400:theme(colors.red.300)] [--accent-200:theme(colors.red.100)]',
    '[--accent-400:theme(colors.orange.300)] [--accent-200:theme(colors.orange.100)]',
    '[--accent-400:theme(colors.amber.300)] [--accent-200:theme(colors.amber.100)]',
    '[--accent-400:theme(colors.yellow.300)] [--accent-200:theme(colors.yellow.100)]',
    '[--accent-400:theme(colors.lime.300)] [--accent-200:theme(colors.lime.100)]',
    '[--accent-400:theme(colors.green.300)] [--accent-200:theme(colors.green.100)]',
    '[--accent-400:theme(colors.emerald.300)] [--accent-200:theme(colors.emerald.100)]',
    '[--accent-400:theme(colors.sky.300)] [--accent-200:theme(colors.sky.100)]',
    '[--accent-400:theme(colors.blue.300)] [--accent-200:theme(colors.blue.100)]',
    '[--accent-400:theme(colors.indigo.300)] [--accent-200:theme(colors.indigo.100)]',
    '[--accent-400:theme(colors.purple.300)] [--accent-200:theme(colors.purple.100)]',
    '[--accent-400:theme(colors.fuchsia.300)] [--accent-200:theme(colors.fuchsia.100)]',
    '[--accent-400:theme(colors.pink.300)] [--accent-200:theme(colors.pink.100)]',
    '[--accent-400:theme(colors.rose.300)] [--accent-200:theme(colors.rose.100)]',
  ],
  prng(Astro, ['page', 2])
)
---

<!DOCTYPE html>
<html lang="en" class={accentColor + " " + accentColor2}>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="shortcut icon" type="image/svg" href="/images/ring.svg" />
    <link rel="sitemap" href="/sitemap.xml" />

    {isNoIndex && <meta name="robots" content="noindex" />}

    <slot name="head" />

    <script
      async
      src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.2/dist/iconify-icon.min.js"
      integrity="sha256-kwd+IKkvIXP95TLOfLvp/rHfnja1G+Ve+u1UR22A02k="
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <slot />
    <script
      defer
      src="https://static.cloudflareinsights.com/beacon.min.js"
      data-cf-beacon='{"token": "3f4c5a7b957a49c3877150febe83307f"}'
    ></script>
  </body>
</html>
