---
import { ViewTransitions } from 'astro:transitions'

import { prng } from '$functions/prng'
import { sample } from '$functions/sample'
import './blank.css'

import '@fontsource-variable/work-sans'

const { pathname } = Astro.url
const isNoIndex = pathname.endsWith('/editor') || pathname.startsWith('/auth')

export interface Props {
  disableViewTransitions?: boolean
}

const accentColor = sample(
  [
    '[--accent-300:theme(colors.red.300)] [--accent-100:theme(colors.red.100)]',
    '[--accent-300:theme(colors.orange.300)] [--accent-100:theme(colors.orange.100)]',
    '[--accent-300:theme(colors.amber.300)] [--accent-100:theme(colors.amber.100)]',
    '[--accent-300:theme(colors.yellow.300)] [--accent-100:theme(colors.yellow.100)]',
    '[--accent-300:theme(colors.lime.300)] [--accent-100:theme(colors.lime.100)]',
    '[--accent-300:theme(colors.green.300)] [--accent-100:theme(colors.green.100)]',
    '[--accent-300:theme(colors.emerald.300)] [--accent-100:theme(colors.emerald.100)]',
    '[--accent-300:theme(colors.sky.300)] [--accent-100:theme(colors.sky.100)]',
    '[--accent-300:theme(colors.blue.300)] [--accent-100:theme(colors.blue.100)]',
    '[--accent-300:theme(colors.indigo.300)] [--accent-100:theme(colors.indigo.100)]',
    '[--accent-300:theme(colors.purple.300)] [--accent-100:theme(colors.purple.100)]',
    '[--accent-300:theme(colors.fuchsia.300)] [--accent-100:theme(colors.fuchsia.100)]',
    '[--accent-300:theme(colors.pink.300)] [--accent-100:theme(colors.pink.100)]',
    '[--accent-300:theme(colors.rose.300)] [--accent-100:theme(colors.rose.100)]',
  ],
  prng(Astro, ['page', 1])
)

const accentColor2 = sample(
  [
    '[--accent-400:theme(colors.red.300)] [--accent-100b:theme(colors.red.100)]',
    '[--accent-400:theme(colors.orange.300)] [--accent-100b:theme(colors.orange.100)]',
    '[--accent-400:theme(colors.amber.300)] [--accent-100b:theme(colors.amber.100)]',
    '[--accent-400:theme(colors.yellow.300)] [--accent-100b:theme(colors.yellow.100)]',
    '[--accent-400:theme(colors.lime.300)] [--accent-100b:theme(colors.lime.100)]',
    '[--accent-400:theme(colors.green.300)] [--accent-100b:theme(colors.green.100)]',
    '[--accent-400:theme(colors.emerald.300)] [--accent-100b:theme(colors.emerald.100)]',
    '[--accent-400:theme(colors.sky.300)] [--accent-100b:theme(colors.sky.100)]',
    '[--accent-400:theme(colors.blue.300)] [--accent-100b:theme(colors.blue.100)]',
    '[--accent-400:theme(colors.indigo.300)] [--accent-100b:theme(colors.indigo.100)]',
    '[--accent-400:theme(colors.purple.300)] [--accent-100b:theme(colors.purple.100)]',
    '[--accent-400:theme(colors.fuchsia.300)] [--accent-100b:theme(colors.fuchsia.100)]',
    '[--accent-400:theme(colors.pink.300)] [--accent-100b:theme(colors.pink.100)]',
    '[--accent-400:theme(colors.rose.300)] [--accent-100b:theme(colors.rose.100)]',
  ],
  prng(Astro, ['page', 2])
)
---

<!doctype html>
<html lang="en" class={accentColor + ' ' + accentColor2}>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="shortcut icon" type="image/svg" href="/images/ring.svg" />
    <link rel="sitemap" href="/sitemap.xml" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Anuphan:wght@400;500&family=Sarabun:wght@400;500&display=swap"
      rel="stylesheet"
    />

    {isNoIndex && <meta name="robots" content="noindex" />}

    <slot name="head" />
    {Astro.props.disableViewTransitions ? null : <ViewTransitions />}
    <script
      async
      src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.2/dist/iconify-icon.min.js"
      integrity="sha256-kwd+IKkvIXP95TLOfLvp/rHfnja1G+Ve+u1UR22A02k="
      crossorigin="anonymous"></script>
  </head>
  <body>
    <slot />
    <script
      defer
      src="https://static.cloudflareinsights.com/beacon.min.js"
      data-cf-beacon='{"token": "3f4c5a7b957a49c3877150febe83307f"}'></script>
  </body>
</html>
