---
import dayjs from 'dayjs'

import BaseLayout from './base.astro'

import MetadataTable from '$components/metadataTable.astro'

export interface Props {
  title: string
  type?: 'page' | 'event'
  contents: {
    id: string
    label: string
  }[]
  metadata: {
    edited: {
      at: Date
      by: string
    }
  }
}

const { title, contents, metadata, type = 'page' } = Astro.props
---

<BaseLayout>
  <h1 class="pt-6 pb-8 text-center text-5xl uppercase">{title}</h1>
  <div class="grid sm:grid-cols-3 md:grid-cols-4 xl:grid-cols-5 divide-x-2 border border-b-0">
    <div class="col-span-1 divide-y-2">
      {
        type === 'event' && (
          <>
            <img
              src="/images/events/hacktoberfest2022.png"
              class="w-full aspect-square"
            />
            <section class="p-6">
              <h2 class="text-center pb-6 font-medium">EVENTS</h2>
              <MetadataTable
                data={[
                  ['LOCATION', 'LINK Collaboration Space'],
                  ['DATE', 'FROM 14 July 2018\nTO 18 July 2018'],
                  ['HOST', '[STUPID HACKATHON]'],
                ]}
              />
            </section>
          </>
        )
      }
      {contents.length > 0 && (
        <section class="p-6">
          <h2 class="text-center pb-6 font-medium">CONTENTS</h2>
          <ul class="list-disc list-inside text-sm">
            {contents.map(content => (
              <li><a href={'#' + content.id}>{content.label}</a></li>
            ))}
          </ul>
        </section>
      )}
      <section class="p-6">
        <h2 class="text-center pb-6 font-medium">METADATA</h2>
        <MetadataTable
          data={[
            [
              'EDIT',
              `${dayjs(metadata.edited.at).format('D MMMM YYYY')} / ${
                metadata.edited.by
              }`,
            ],
          ]}
        />
      </section>
      <section class="p-6">
        <h2 class="text-center pb-6 font-medium">SHARE</h2>
      </section>
    </div>
    <div class="col-span-1 sm:col-span-2 md:col-span-3 xl:col-span-4 px-12 py-10">
      <article class="prose max-w-6xl mx-auto text-[0.8en] overflow-y-scroll">
        <slot />
      </article>
    </div>
  </div>
</BaseLayout>
